.container2 {
    width: 95%;
    margin: 1% auto 1% auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    background-color:rgb(27, 42, 65);
    padding: 1em;
    grid-template-areas: 
    "sectionAboutMe aboutMe aboutMe aboutMe aboutMe"
    "projects projects projects projects projects";
}

.navColor {
    background-color:rgb(27, 42, 65);
}

.navText {
    color: rgb(245, 254, 255) !important;

}

.item1{
    margin: 1% auto;
    padding: 2% 2%;
    background-color: rgb(255, 255, 255);
}

.item2{
    margin: 1% auto;
    background-color: antiquewhite;
    width: 100%;
}

.aboutMe {
    grid-area: aboutMe;

}
.projects {
    grid-area: projects;
}

.sectionAboutMe {
    grid-area: sectionAboutMe;
    place-self: center;

}